services:
  user_service:
    build:
      context: .
      dockerfile: agarthan/user_service/Dockerfile
    environment:
      DB_DSN: host=postgres user=postgres password=postgres dbname=agarthan port=5432 sslmode=disable
    depends_on:
      - postgres
    ports:
      - "3000:3000"

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: agarthan
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
