services:
  user_service:
    build:
      context: .
      dockerfile: agarthan/user_service/Dockerfile
    environment:
      DB_DSN: host=postgres user=postgres password=postgres dbname=agarthan port=5432 sslmode=disable
    depends_on:
      - postgres
    ports:
      - "3000:3000"

  report_service:
    build:
      context: .
      dockerfile: agarthan/report_service/Dockerfile
    environment:
      DB_DSN: host=postgres user=postgres password=postgres dbname=agarthan port=5432 sslmode=disable
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
          condition: service_healthy
    ports:
      - "3001:3001"

  report_worker:
    build:
      context: .
      dockerfile: agarthan/report_worker/Dockerfile
    environment:
      DB_DSN: host=postgres user=postgres password=postgres dbname=agarthan port=5432 sslmode=disable
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      KAFKA_BROKERS: kafka:19092
      KAFKA_TOPIC: submission.events
    depends_on:
      postgres:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      kafka:
        condition: service_healthy

  notification_service:
    build:
      context: .
      dockerfile: agarthan/notification_service/Dockerfile
    environment:
      KAFKA_BROKERS: kafka:19092
      KAFKA_TOPIC: submission.events
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "3002:3002"

  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  kafka:
    build:
      context: .
      dockerfile: services/kafka/Dockerfile
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT_HOST://localhost:9092,PLAINTEXT://kafka:19092"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"
      KAFKA_LISTENERS: "CONTROLLER://:29093,PLAINTEXT_HOST://:9092,PLAINTEXT://:19092"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      CLUSTER_ID: "4L6g3nShT-eMCtK--X86sw"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 1
      # KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092 > /dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: agarthan
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d agarthan"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

volumes:
  postgres_data:
