server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        target_label: 'container_name'
        regex: '/(.*)'
        replacement: '$1'

      - source_labels: ['__meta_docker_container_id']
        target_label: 'container_id'

      - source_labels: ['__meta_docker_container_image']
        target_label: 'image'

      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'service'

      - source_labels: ['__meta_docker_container_label_com_docker_compose_project']
        target_label: 'project'

      - source_labels: ['__meta_docker_container_label_com_docker_compose_project']
        action: keep
        regex: '.*'

      - source_labels: ['__meta_docker_container_id']
        target_label: '__path__'
        replacement: '/var/lib/docker/containers/$1/*.log'

    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            timestamp: time

      - timestamp:
          source: timestamp
          format: RFC3339Nano

      - output:
          source: output

      - regex:
          expression: '(?P<level>INFO|WARN|ERROR|DEBUG|FATAL)'

      - labels:
          level:
